<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 d-flex flex-wrap">
                <p class="d-flex me-4 mb-0">
                    <i style="color: var(--primary-color);" class="bi-geo-alt me-2"></i>
                    Bangangté, Banekane
                </p>

                <p class="d-flex mb-0">
                    <i style="color: var(--primary-color);" class="bi-envelope me-2"></i>

                    <a href="mailto:info@udm.aed-cm.org"> info@udm.aed-cm.org </a>
                </p>
            </div>

            <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                <ul class="social-icon">
                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-twitter"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-facebook"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-instagram"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-youtube"></a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="social-icon-link bi-whatsapp"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-lg bg-light shadow-lg">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="images/aed/logo AED.png" class="logo img-fluid" alt="Kind Heart Charity" />
            <span class="desktop">
                AED
                <small>Association pour l'Éducation et le Développement</small>
            </span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="index.html#top">Accueil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="index.html#section_2">à propos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="index.html#section_3">Réalisation</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="index.html#section_4">Devenir membre</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link click-scroll dropdown-toggle" href="index.html#section_5"
                        id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Nous</a>

                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="page_udm.html">UDM</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="page_cum.html">CUM</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="page_cmpm.html">CMPM</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="page_cev.html">CEV</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="projet.html">Projet</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="index.html#section_6">Contact</a>
                </li>

                <!-- <li class="nav-item ms-3">
          <a
            class="nav-link custom-btn custom-border-btn btn"
            href="donate.html"
            >Donate</a
          >
        </li> -->
            </ul>
        </div>
    </div>
</nav>
